/* HEADER CSS */

/* HEADER */
    header {
        display: flex;
        justify-content: space-around;
        color: #a8b2d1;
        background-color: #112240;
        position: fixed;
        z-index: 1;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    #menu-toggle {
        display: none;
    }
    .menu-button-container {
        display: none;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #c6c6c6;
        position: absolute;
    }
    .menu-button::before {
        content: '';
    }
    .menu-button::after {
        content: '';
    }
    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }
    .menu-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .scroll-button {
        background-color: #112240;
        color:#CCD6F6;
        font-weight: bold;
        cursor:pointer;
        position: relative;
        border: none;
    }
    .scroll-button:hover {
        color: #64FFDA;
    }
    .scroll-button:before {
        content:'';
        position: absolute;
    }
    .scroll-button:after {
        content:'';
        position: absolute;
    }
/* FIN HEADER */

/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */
@media only screen and (min-width: 1024px) and (max-width: 1920px){
/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */

    header {
        width: 100%;
        height: 80px;
        margin-bottom: 3em;
        z-index: 1;
    }
    .logo {
        width: 30%;
        min-width: 150px;
        max-width: 300px;
    }
    .logo img {
        width: 100%;
    }
    .menu-button-container {
        height: 100%;
        width: 30px;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }
    .menu-button::before {
        margin-top: -8px;
    }
    .menu-button::after {
        margin-top: 8px;
    }
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }
    .menu-container {
        width: 1620px;
        min-width: 724px;
        max-width: 70%;
    }
    .scroll-button {
        width: 120px;
        padding: 1em;
        transition: .5s;
        font-size: 1rem;
        font-weight: 500;
    }
    .scroll-button:before {
        top: -2px;
        left: -2px;
        width: 0%;
        height: 100%;
        border: 2px solid transparent;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: .5s;
    }
    .scroll-button:after {
        top: -2px;
        right: 0px;
        width: 0;
        height: 100%;
        border: 2px solid transparent;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        transition: .5s;
    }
    .scroll-button:hover:before {
        top: 68%;
        width: 70%;
        height: 30%;
        border-left: 2px solid #64FFDA;
        border-bottom: 2px solid #64FFDA;
    }
    .scroll-button:hover:after {
        width: 70%;
        height: 30%;
        border-right: 2px solid #64FFDA;
        border-top: 2px solid #64FFDA;
    }
}

/* Ajoutez vos styles CSS pour les tablettes ici */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/* Ajoutez vos styles CSS pour les tablettes */
    header {
        width: 100%;
        height: 80px;
        margin-bottom: 3em;
        z-index: 1;
    }
    .logo {
        width: 30%;
        min-width: 100px;
        max-width: 250px;
    }
    .logo img {
        width: 100%;
    }
    .menu-button-container {
        height: 100%;
        width: 30px;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }
    .menu-button::before {
        margin-top: -8px;
    }
    .menu-button::after {
        margin-top: 8px;
    }
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }
    .menu-container {
        width: 720px;
        min-width: 610px;
        max-width: 70%;
    }
    .scroll-button {
        width: 120px;
        padding: 1em;
        transition: .5s;
        font-size: 1rem;
        font-weight: 500;
    }
    .scroll-button:before {
        top: -2px;
        left: -2px;
        width: 0%;
        height: 100%;
        border: 2px solid transparent;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: .5s;
    }
    .scroll-button:after {
        top: -2px;
        right: 0px;
        width: 0;
        height: 100%;
        border: 2px solid transparent;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        transition: .5s;
    }
    .scroll-button:hover:before {
        top: 68%;
        width: 70%;
        height: 30%;
        border-left: 2px solid #64FFDA;
        border-bottom: 2px solid #64FFDA;
    }
    .scroll-button:hover:after {
        width: 70%;
        height: 30%;
        border-right: 2px solid #64FFDA;
        border-top: 2px solid #64FFDA;
    }
}


/* Ajoutez vos styles CSS pour les téléphones F-Paysage ici */
@media only screen and (max-width: 767px) and (orientation: landscape){
/* Ajoutez vos styles CSS pour les téléphones mobiles ici */

    header {
        width: 100%;
        padding: 1em;
    }
    .logo {
        height: 80px;
        align-items: center;
        display: flex;
    }
    .logo img {
        width: 100%;
        max-width: 200px;
    }
    .menu-toggle {
        display: flex;
    }
    .menu-container {
        display: none;
        position: absolute;
        top: 80px; /* Modifier la valeur pour correspondre à la hauteur de votre header */
        left: 0;
        background-color: #112240;
        width: 100%;
        padding: 1em;
        z-index: 1000;
    }
    .menu-container.active {
        display: flex;
    }
    .menu-container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu-container ul li {
        margin: 10px 0;
    }
    .menu-button-container {
        display: flex;
        margin: 0;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #c6c6c6;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }
    .menu-button::before {
        content: '';
        margin-top: -8px;
    }
    .menu-button::after {
        content: '';
        margin-top: 8px;
    }
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
    #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
    }
    #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    }
/* FIN HEADER */
}


/* Ajoutez vos styles CSS pour les téléphones F-Portrait ici */
@media only screen and (max-width: 767px) and (orientation: portrait){
/* Ajoutez vos styles CSS pour les téléphones mobiles ici */

    header {
        width: 100%;
        height: 80px;
        z-index: 1;
    }
    .logo {
        width: 50%;
    }
    .logo img {
        width: 100%;
    }
    .menu-toggle {
        display: flex;
    }

    .menu-container {
        display: none;
        position: absolute;
        top: 80px; /* Modifier la valeur pour correspondre à la hauteur de votre header */
        left: 0;
        background-color: #112240;
        width: 100%;
        padding: 1em;
        z-index: 1000;
    }

    .menu-container.active {
        display: flex;
        flex-direction: column;
    }
    .menu-container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu-container ul li {
        margin: 10px 0;
    }

    .menu-button-container {
        display: flex;
        margin: 0;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #c6c6c6;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }
}


