/* Ajoutez vos styles CSS pour les téléphones F-Portrait ici */
@media only screen and (min-width: 360px) and (max-width: 767px) {
/* Ajoutez vos styles CSS pour les téléphones mobiles ici */
    main {
        margin-top: 10rem;
    }
    section {
        width: calc(90% + 10vw);
    }
    .ancre-title {
        width: calc(80% + 0vw);
        gap: 2em;
    }
    .ancre-title h2 {
        font-size: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    p {
        font-size: 0.8rem;
        font-family: 'Inter';
        font-weight: 100;
        line-height: 1rem;
        margin: 0;
        padding: 1rem;
    }
    /* HOME */
    .home-cont {
        width: calc(80% + 10vw);
        gap: 1rem;
    }
    .home-cont h1 {
        font-size: 0.8rem;
    }
    .home-cont h2 {
        font-size: 2.2rem;
    }
    .home-cont h3 {
        font-size: 1.5rem;
    }
    .btn-home {
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
    /* END HOME */


    /* ABOUT ME */
    .aboutme-cont {
        flex-direction: column;
        width: calc(80% + 10vw);
        gap: 1rem;
    }
    .aboutme-txt, .aboutme-btn { 
        width: calc(80% - 0vw);
        gap: 1rem;
    }
    .aboutme-btn { 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .aboutme-btn a { 
        width: 150px;
        margin: 1rem;
        padding: 1rem;
    }
    .redirect-btn,
    .download-btn {
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
    /* END ABOUT ME */


    /* EXPERIENCE */
    .exp-cont {
        width: calc(80% + 10vw);
    }
    .exp-type {
        width: calc(80vw - 10vw);
    }
    .exp-btn-type {
        width: 50vw;
        padding: 1rem;
        font-size: 1rem;
    }
    .exp-column {
        width: calc(80vw - 10vw);
    }
    .exp-choice {
        width: calc(25vw - 0vw);
    }
    .exp-btn {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
    .exp-txt {
        width: calc(75vw - 0vw);
    }
    .box-head {
        gap: 1rem;
    }
    .box-head-t, .box-head-d {
        width: 100%;
    }
    .box-head-t h3 {
        font-size: 1rem;
        padding: 1rem;
    }
    .box-head-t a {
        font-size: 1rem;
    }
    .box-head-d p {
        font-size: 1rem;
    }
    .box-body {
        gap: 1rem;
    }
    .box-body-t {
        width: 90%;
        gap: 1rem;
    }
    .box-body ul {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .box-body ul li{
        padding-left: 1rem;
    }
    .box-body p {
        font-size: 1rem;
    }
    /* END EXPERIENCE */


    /* WORK */
    .work-cont {
        width: calc(80% + 10vw);
        gap: 1rem;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        width: calc(80% + 10vw);
    }
    .work-img {
        width: 60%;
    }
    .work-img img {
        width: 100%;
        height: 100%;
    }
    .work-des {
        width: calc(40% - 40px);
        padding: 20px;
    }
    .wd-head {
        margin-bottom: 10px;
    }
    .wd-head-t h3 {
        font-size: 1.8rem;
        font-weight: 500;

    }
    .wd-head-icon {
        gap: 1em;
        padding-left: 1em;
    }
    .wd-head-icon i {
        font-size: 1.4rem;
    }
    .wd-body {
        width: calc(100% - -150px); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
    }
    .wd-body p {
        font-size: 1rem;
    }
    .wd-footer {
        gap: 1em;
    }
    .wd-footer span {
        font-size: 1.2rem;
    }
    /* END WORK */


    /* PROJECT */
    .project-cont {
        width: calc(80% + 10vw);
        gap: 1rem;
    }
    .box-files{
        gap: 1em;
    }
    .project-file {
        margin: 1em;
        flex-grow: 1;
        flex-basis: calc(33.33% - 1em);
        min-width: 200px;
        max-width: 300px;
    }
    .project-head {
        width: 100%;
        height: 60px;
    }
    .project-h-t{
        width: 70%;
    }
    .project-h-t h3{
        font-size: 1.2rem;
    }
    .project-h-l {
        width: 30%;
    }
    .project-h-l a {
        font-size: 1.5rem;
    }
    .project-b-h {
        width: 90%;
        height: 50px;
        gap: 1em;
        padding-top: 1em;
    }
    .project-b-h p {
        font-size: 1rem;
    }
    .project-b-b {
        width: 90%;
        min-height: 150px;
        padding-top: 1em;
    }
    .project-b-b p {
        font-size: 1rem;
    }
    .project-b-f {
        width: 90%;
        height: 50px;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1em;
    }
    .project-b-f span {
        font-size: 0.8rem;
    }
    /* END PROJECT */


    /* CONTACT */
    .form-cont {
        margin: 0 auto;
        width: calc(80% + 10vw);
        gap: 1rem;
    }
    .formulaire {
        margin: auto;
        width: calc(80% + 0vw);
        border: 1px solid #8892B0;
        border-radius: 16px;
        gap: 2em;
    }
    .form-ask {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-ask p {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin: 0;
    }
    .form-ask div {
        width: 100%;
        gap: 1em;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"], 
    textarea {
        padding: 1em;
        margin: auto;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label {
        font-size: 1.2rem;
    }
    .form-infos-pro {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-infos-txt{
        width: 45%;
        gap: 1em;
    }
    .form-infos-txt p {
        font-size: 1rem;
        font-weight: 100;
        margin: 0;
    }
    .form-icon-social {
        width: 45%;
        margin: 0;
        gap: 1em;
    }
    .form-icon-social i {
        font-size: 1.4rem;
    }
    .check-answer {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .privacy-data {
        width: 100%;
        gap: 2em;
    }
    .form-box-btn {
        padding: 1em;        
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
    button[type="submit"] {
        margin: auto;
        padding: 1.2em;
        border: 1px solid #64FFDA;
        border-radius: 4px;
    }
    button[type="submit"]:hover {
        border: 1px solid #112240;
    }
    /* END CONTACT */


    /* FOOTER */
    footer {
        margin: 0 auto;
        width: calc(100% + 0vw);
        gap: 1rem;
        border-top: 1px solid #64ffda;
        margin-top: 150px;
        height: 150px;
    }
    footer p  {
        font-size: 1rem;
    }
    .icone_social_footer {
        width: 250px;
    }
    .icone_social_footer i {
        width: 50px;
        padding: 10px;
        font-size: 1.8em;
    }
    /* END FOOTER */
}
