/* Ajoutez vos styles CSS pour les téléphones F-Portrait ici */
@media only screen and (max-width: 767px) {
/* Ajoutez vos styles CSS pour les téléphones mobiles ici */
main {
    margin-top: 10rem;
}
section {
    margin: 0 auto;
    width: calc(100% + 0vw);
    margin-bottom: 1rem;
}
.ancre-title {
    margin: auto;
    width: calc(90% + 0vw);
    gap: 2rem;
}
.ancre-title h2 {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

/* HOME */
    .home-cont {
        margin: 0 auto;
        width: calc(80% + 10vw);
        gap: 1rem;
    }
    .home-cont h1 {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
    }
    .home-cont h2 {
        font-size: 5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont h3 {
        font-size: 3.5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont p {
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.5rem;
    }
    .btn-home {
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
/* END HOME */


/* ABOUT ME */
.aboutme-cont {
    flex-direction: column;
    gap: 1rem;
}
.aboutme-txt, .aboutme-btn {
    margin: 0 auto;
    width: calc(90% + 0vw);
    gap: 1rem;
}
.aboutme-txt p {
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.5rem;
    margin: 0;
}
.aboutme-btn {
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: calc(80% - 0vw);
}
.redirect-btn,
.download-btn {
    width: 150px;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
}
/* END ABOUT ME */

/* EXPERIENCE */
    .exp-cont {
        margin: auto;
        min-width: 780px;
        max-width: 1010px;
    }
    .exp-type {
        margin: auto;
        width: 850px;
        min-width: 600px;
        max-width: 80%;
    }
    .exp-btn-type {
        margin: auto;
        width: 340px;
        min-width: 300px;
        max-width: 50%;
        border: 1px solid #8892B0;
        padding: 1em;
        font-size: 1rem;
    }
    .exp-btn-type:hover {
        padding: 1em;
    }
    .exp-column {
        margin: auto;
        width: 850px;
        min-width: 600px;
        max-width: 80%;
    }
    .exp-choice {
        border: 1px solid #8892B0;
        width: 25%;
    }
    .exp-btn {
        width: 100%;
        padding: 1em;
        border: 1px #0A192F;
        font-size: 1rem;
    }
    .exp-txt {
        width: 75%;
    }
    .exp-box {
        width: 100%;
        gap: 1em;
    }
    .box-head {
        width: 90%;
        margin: auto;
        gap: 1em;
    }
    .box-head h3 {
        width: 50%;
        font-size: 1rem;
        margin-left: 1em;
    }
    .reseaux-work{
        width: 50%;
    }
    .reseaux-work a {
        font-size: 1rem;
    }
    .box-body {
        width: 90%;
        margin: auto;
        gap: 1em;
    }
    .box-body-d {
        gap: 1em;
    }
    .box-body-t {
        width: 100%;
    }
    .box-body-t ul {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 100;
        margin: 0;
        padding: 0;
    }
    .box-body-t ul li{
        color: #CCD6F6;
        margin-left: 1em;
    }
    .box-footer {
        width: 90%;
        margin: auto;
        gap: 1em;
    }
    .box-footer p {
        display: flex;
        width: 90%;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 100;
        margin: auto;
        padding-bottom: 2em;
    }
/* END EXPERIENCE */


/* WORK */
    .work-cont {
        width: 100%;
        min-width: 768px;
        max-width: 1023px;
    }
    .w-fig-box {
        margin: auto;
        width: 80%;
        gap: 3em;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        margin: 0 auto;
        gap: 1em;
    }
    .work-img {
        width: 50%;
    }
    .work-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .work-des {
        width: 50%;
    }
    .wd-head {
        width: 100%;
        gap: 1em;
    }
    .wd-head-icon {
        gap: 1em;
        padding-left: 1em;
    }
    .wd-head-icon i {
        font-size: 1.4rem;
    }
    .wd-head-t h3 {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;
    }
    .wd-body {
        background-color: #112240; /* Couleur de fond semi-transparente */
        padding: 1em;
        width: calc(100% - -150px); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
    }
    .wd-body p {
        font-size: 1rem;
        font-weight: 100;
    }
    .wd-footer {
        gap: 1em;
    }
    .wd-footer span {
        font-size: 1.2rem;
    }
/* END WORK */


/* PROJECT */
    .project-cont {
        width: 100%;
        min-width: 768px;
        max-width: 1023px;
    }
    .box-files{
        margin: auto;
        width: 80%;
        gap: 1em;
    }
    .project-file {
        width: 300px;
        min-width: 250px;
        max-width: 25%;
    }
    .project-head {
        width: 100%;
        height: 60px;
    }
    .project-h-t{
        width: 70%;
    }
    .project-h-t h3{
        font-size: 1.2rem;
        padding: 0.3em;
    }
    .project-h-l {
        width: 30%;
    }
    .project-h-l a {
        font-size: 1.5rem;
        padding: 0.3em;
    }
    .project-b-h {
        margin: auto;
        width: 90%;
        height: 50px;
        gap: 1em;
        padding-top: 1em;
    }
    .project-b-h p {
        font-size: 1rem;
        margin: 0;
    }
    .project-b-b {
        margin: auto;
        width: 90%;
        min-height: 150px;
        padding-top: 1em;
    }
    .project-b-b p {
        font-size: 0.8rem;
    }
    .project-b-f {
        margin: auto;
        width: 90%;
        height: 50px;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1em;
    }
    .project-b-f span {
        font-size: 0.8rem;
    }
/* END PROJECT */


/* CONTACT */
    .form-cont {
        width: 100%;
        min-width: 360px;
        max-width: 767px;
    }
    .formulaire {
        width: 100%;
        min-width: 340px;
        max-width: 750px;
        border: 1px solid#8892B0;
        border-radius: 3%;
        gap: 2em;
    }
    .form-ask {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-ask p {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin: 0;
    }
    .form-ask div {
        width: 100%;
        gap: 1em;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"], 
    textarea {
        padding: 1em;
        margin: auto;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label {
        font-size: 1.2rem;
    }
    .form-infos-pro {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-infos-txt{
        width: 45%;
        gap: 1em;
    }
    .form-infos-txt p {
        font-size: 1rem;
        font-weight: 100;
        margin: 0;
    }
    .form-icon-social {
        width: 45%;
        margin: 0;
        gap: 1em;
    }
    .form-icon-social i {
        font-size: 1.4rem;
    }
    .check-answer {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .privacy-data {
        width: 100%;
        gap: 2em;
    }
    .form-box-btn {
        padding: 1em;        
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
    button[type="submit"] {
        margin: auto;
        padding: 1.2em;
        border: 1px solid #64FFDA;
        border-radius: 4px;
    }
    button[type="submit"]:hover {
        border: 1px solid #112240;
    }
/* END CONTACT */


/* FOOTER */
    footer {
        border-top: 1px solid #64ffda;
        width: 100%;
        margin-top: 150px;
        height: 150px;
    }

    footer p  {
        font-size: 1rem;
    }
    .icone_social_footer {
        width: 250px;
    }
    .icone_social_footer i {
        width: 50px;
        padding: 10px;
        font-size: 1.8em;
    }
/* END FOOTER */

}

@media screen and (max-width: 768px)
@media screen and (max-width: 768px)
@media screen and (max-width: 768px)
@media screen and (max-width: 768px)
@media screen and (max-width: 768px)
@media screen and (max-width: 768px)