/* Ajoutez vos styles CSS pour les téléphones F-Paysage ici */
@media only screen and (max-width: 767px) and (orientation: landscape){
/* Ajoutez vos styles CSS pour les téléphones mobiles ici */
 
    body {
        flex-direction: row;
    }
    main {
        width: calc(75% - 0vw);
    }
    .ancre-title {
        width: 90%;
        padding-top: 4em;
        padding-bottom: 2em;
    }

    section {
        margin: 0 auto;
        width: calc(100% + 0vw);
        margin-bottom: 1rem;
    }

    footer {
        display: none;
    }
    .ancre-title {
        margin: auto;
        width: calc(80% + 0vw);
        gap: 2em;
    }
    .ancre-title h2 {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

/* HOME */
    .home-cont {
        margin: 0 auto;
        width: calc(70% + 0vw);
        gap: 1rem;
    }
    .home-cont h1 {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
    }
    .home-cont h2 {
        font-size: 5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont h3 {
        font-size: 3.5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont p {
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.5rem;
    }
    .btn-home {
        border: 2px solid #8892B0;
        border-radius: 6px;
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
/* END HOME */


/* ABOUT ME */
    .aboutme-cont {
        margin: 0 auto;
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .aboutme-txt:first-child { 
        width: calc(80% - 20px);
        gap: 1rem;
    }
    .aboutme-txt p {
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.5rem;
        margin: 0;
    }
    .aboutme-btn:nth-child(2) { 
        width: calc(30% - 20px);
        gap: 1rem;
    }
    .redirect-btn,
    .download-btn {
        border: 2px solid #8892B0;
        border-radius: 6px;
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
/* END ABOUT ME */


/* EXPERIENCE */
    .exp-cont {
        margin: 0 auto;
        width: calc(60% + 0vw);
    }
    .exp-type {
        width: calc(80vw - 10vw);
    }
    .exp-btn-type {
        width: 50vw;
        padding: 1rem;
        font-size: 1rem;
    }
    .exp-column {
        width: calc(80vw - 10vw);
    }
    .exp-choice {
        width: calc(25vw - 0vw);
    }
    .exp-btn {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
    .exp-txt {
        width: calc(75vw - 0vw);
    }
    .box-head {
        gap: 1rem;
    }
    .box-head-t, .box-head-d {
        width: 100%;
    }
    .box-head-t h3 {
        font-size: 1rem;
        padding: 1rem;
    }
    .box-head-t a {
        font-size: 1rem;
        padding: 1rem;
    }
    .box-head-d p {
        font-size: 1rem;
        margin: 0;
        padding: 1rem;
    }
    .box-body {
        gap: 1rem;
    }
    .box-body-t {
        margin: auto;
        width: 90%;
        gap: 1rem;
    }
    .box-body ul {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 100;
        margin: auto;
    }
    .box-body ul li{
        padding-left: 1rem;
    }
    .box-body p {
        padding: 1rem;
    }
/* END EXPERIENCE */


/* WORK */
    .work-cont {
        margin: 0 auto;
        width: calc(70% + 0vw);
        gap: 5rem;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        width: calc(80% + 10vw);
    }
    .work-img {
        width: 60%;
        height: auto;
        overflow: hidden;
    }
    .work-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .work-des {
        width: calc(40% - 40px);
        padding: 20px;
    }
    .wd-head {
        margin-bottom: 10px;
    }
    .wd-head-t h3 {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;
    }
    .wd-head-icon {
        gap: 1em;
        padding-left: 1em;
    }
    .wd-head-icon i {
        font-size: 1.4rem;
    }
    .wd-body {
        background-color: #112240; /* Couleur de fond semi-transparente */
        width: calc(100% - -150px); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
    }
    .wd-body p {
        font-size: 1rem;
        font-weight: 100;
        margin: 1rem;
    }
    .wd-footer {
        gap: 1em;
    }
    .wd-footer span {
        font-size: 1.2rem;
    }
/* END WORK */


/* PORTFOLIO */
    .portfolio-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        gap: 0.8em;
    }
    .project-files {
        display: flex;
        flex-direction: column;
        background-color: #112240;
        width: 45%;
        min-width: 230px;
        min-height: 350px;
        margin: 0;
    }
    .project-head {
        display: flex;
        flex-direction: row;
        background-color: #233554;
        align-items: center;
        width: 100%;
        height: 60px;
    }
    .project-h-t{
        display: flex;
        width: 70%;
    }
    .project-h-t h3{
        font-size: 1.2rem;
        padding: 0.3em;
    }
    .project-h-l {
        display: flex;
        align-items: center;
        width: 30%;
    }
    .project-h-l a {
        cursor: pointer;
        color: #e6e6e6;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0.3em;
    }
    .project-h-l a:hover {
        color: #64ffda;
    }
    .project-body {
        display: flex;
        flex-direction: column;
    }
    .project-b-h {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        padding-top: 1em;
    }
    .project-b-h p {
        font-size: 1rem;
        margin: 0;
    }
    .project-b-b {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    .project-b-b p {
        color: #A8B2D1;
        font-size: 0.8rem;
        padding: 1em;
    }
    .project-b-f {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
    .project-b-f span {
        display: flex;
        color: #8892B0;
        font-size: 0.8rem;
        padding: 0.3em;
    }
/* END PORTFOLIO */


/* CONTACT */
    #contact-section p {
        width: 80%;
        font-size: 1.2rem;
    }
    .form-cont {
        width: 80%;
        border-radius: 3%;
        gap: 2em;
    }
    .form-ask {
        width: 90%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 70%;
        max-width: 450px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    textarea {
        width: 70%;
        max-width: 450px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


    .form-infos-pro {
        width: 90%;
        margin: auto;
    }
    .form-infos-txt{
        width: 45%;
        gap: 1em;
    }
    .form-infos-txt p {
        font-size: 1rem;
        font-weight: 100;
        margin: 0;
    }
    .form-icon-social {
        width: 45%;
        margin: 0;
        gap: 1em;
    }
    .form-icon-social i {
        font-size: 1.4rem;
    }

    .check-answer {
        gap: 2em;
    }
    .privacy-data {
        width: 80%;
        gap: 2em;
    }
    .form-box-btn {
        padding: 1em;        
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
    button[type="submit"] {
        padding: 1.2em;
        border: 1px solid #64FFDA;
        border-radius: 4px;
    }
    button[type="submit"]:hover {
        border: 1px solid #112240;
    }
/* END CONTACT */


/* FOOTER-RESPON*/
    .footer-respon {
        width: 100%;
        margin-top: 150px;
        height: 150px;
    }

    .footer-respon p  {
        font-size: 1rem;
    }
    .icone_social_footer {
        width: 250px;
    }
    .icone_social_footer i {
        width: 50px;
        padding: 10px;
        font-size: 1.8em;
    }
/* END FOOTER */
}