/* Ajoutez vos styles CSS pour les tablettes ici */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/* Ajoutez vos styles CSS pour les tablettes */
    main {
        margin-top: 10rem;
    }
    section {
        width: calc(100% + 0vw);
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        font-family: 'Inter';
        font-weight: 100;
        line-height: 1.5rem;
        margin: 0;
        padding: 1rem;
    }
    .ancre-title {
        margin: auto;
        width: calc(90% + 0vw);
        gap: 2rem;
    }
    .ancre-title h2 {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
/* HOME */
    .home-cont {
        margin: 0 auto;
        width: calc(80% + 0vw);
        gap: 1rem;
    }
    .home-box{
        margin: 0 auto;
        width: 80%;
        gap: 1rem;
    }
    .home-box h1 {
        font-size: 1rem;
        font-weight: 100;
        margin: 0;
    }
    .home-box h2 {
        font-size: 2.5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-box h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0;
    }
    .btn-home {
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
/* END HOME */


/* ABOUT ME */
    .aboutme-cont {
        width: calc(80% + 0vw);
        gap: 1rem;
    }
    .aboutme-box {
        flex-direction: column;
        width: 80%;
        gap: 1rem;
    }
    .aboutme-txt, .aboutme-btn {
        margin: 0 auto;
        width: 80%;
        gap: 1rem;
    }
    .aboutme-txt p {
        margin: 0;
    }
    .aboutme-btn {
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        width: calc(80% - 0vw);
    }
    .redirect-btn,
    .download-btn {
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
/* END ABOUT ME */


/* EXPERIENCE */
    .exp-cont {
        width: calc(80% + 0vw);
    }
    .exp-table{
        margin: 0 auto;
        width: 80%;
    }
    .th-cln-bld {
        width: 25%;
    }
    .th-btn-select{
        width: 75%;
    }
    .t-h-btn {
        width: 50%;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .table-body {
        min-height: 400px;
    }
    .tb-btn-select {
        width: 25%;
    }
    .tb-txt-select {
        width: 75%;
    }
    .t-b-btn {
        width: 100%;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .box-head {
        gap: 1rem;
    }
    .box-head-t, .box-head-d {
        width: 100%;
    }
    .box-head-t a {
        padding: 1rem;
    }
    .box-head-t h3 {
        font-size: 1rem;
        padding: 1rem;
    }
    .box-body {
        gap: 1rem;
    }
    .box-body-t {
        width: 90%;
        gap: 1rem;
    }
/* END EXPERIENCE */


/* WORK */
    .work-cont {
        width: calc(80% + 0vw);
        gap: 5rem;
    }
    .work-box{
        width: 80%;
        gap: 5rem;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        margin: 0 auto;
    }
    .work-img {
        width: 60%;
    }
    .work-img img {
        width: 100%;
        height: 100%;
    }
    .work-des {
        width: 40%;
    }
    .wd-head {
        margin-bottom: 10px;
    }
    .wd-head-t h3 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .wd-head-icon {
        gap: 1em;
    }
    .wd-head-icon i {
        font-size: 1.4rem;
    }
    .wd-body {
        width: calc(100% - -15vw); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
    }
    .wd-footer {
        gap: 1em;
    }
/* END WORK */


/* PROJECT */
    .project-cont {
        width: calc(80% + 0vw);
        gap: 1rem;
    }
    .box-files{
        width: 80%;
        gap: 1em;
    }
    .project-file {
        flex-grow: 1;
        flex-basis: calc(33.33% - 1em);
        min-width: 280px;
        max-width: 350px;
    }
    .project-head {
        width: 100%;
        height: 60px;
    }
    .project-h-t{
        margin-left: 1rem;
        width: 70%;
    }
    .project-h-t h3{
        font-size: 1.2rem;
    }
    .project-h-l {
        width: 30%;
        margin-right: 1rem;
    }
    .project-h-l a {
        font-size: 1.5rem;
    }
    .project-body {
        width: 100%;
        min-height: 300px;
    }
    .project-b-h {
        width: 100%;
    }
    .project-b-h p {
        font-size: 1rem;
    }
    .project-b-b {
        width: 100%;
    }
    .project-b-b p {
        font-size: 1rem;
    }
    .project-b-f {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1em;
    }
    .project-b-f p {
        font-size: 0.8rem;
    }
/* END PROJECT */


/* CONTACT */
    .form-cont {
        width: calc(80% + 0vw);
        gap: 1rem;
    }
    .formulaire {
        width: 80%;
        gap: 2em;
    }
    .form-ask {
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-ask p {
        font-size: 1.2rem;
    }
    .form-ask div {
        width: 100%;
        gap: 1em;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"], 
    textarea {
        padding: 1em;
        margin: auto;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label {
        font-size: 1.2rem;
    }
    .form-infos-pro {
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-infos-txt{
        width: 45%;
        gap: 1em;
    }
    .form-infos-txt p {
        font-size: 1rem;
    }
    .form-icon-social {
        width: 45%;
        margin: 0;
        gap: 1em;
    }
    .form-icon-social i {
        font-size: 1.4rem;
    }
    .check-answer {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .privacy-data {
        width: 100%;
        gap: 2em;
    }
    .form-box-btn {
        padding: 1em;        
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
    button[type="submit"] {
        margin: auto;
        padding: 1.2em;
        border: 1px solid #64FFDA;
        border-radius: 4px;
    }
    button[type="submit"]:hover {
        border: 1px solid #112240;
    }
/* END CONTACT */


/* FOOTER */
    footer {
        margin: 0 auto;
        width: calc(100% + 0vw);
        gap: 1rem;
        border-top: 1px solid #64ffda;
        margin-top: 150px;
        height: 150px;
    }
    footer p  {
        font-size: 1rem;
    }
    .icone_social_footer {
        width: 250px;
    }
    .icone_social_footer i {
        width: 50px;
        padding: 10px;
        font-size: 1.8em;
    }
/* END FOOTER */
}

