/* PAGE CSS */

/* OPTION GENERAL */
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0A192F;
        margin: 0;
        font-family: sans-serif;
        color: #CCD6F6;
    }

    /* SCROLL BAR WEBSITE AREA*/
        body::-webkit-scrollbar {
            width: 12px; /* width of the entire scrollbar */
        }
        body::-webkit-scrollbar-track {
            background: #161616; /* color of the tracking area */
        }
        body::-webkit-scrollbar-thumb {
            background-color: #64FFDA; /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            border: 3px solid #161616; /* creates padding around scroll thumb */
        }

    /* END SCROLL BAR WEBSITE AREA*/

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    a {
        text-decoration: none;
    }
/* END OPTION GENERAL */


/* HEADER SECTION */
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #a8b2d1;
        background-color: #112240;
        position: fixed;
        z-index: 1;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    #menu-toggle {
        display: none;
    }
    .menu-button-container {
        display: none;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #c6c6c6;
        position: absolute;
    }
    .menu-button::before {
        content: '';
    }
    .menu-button::after {
        content: '';
    }
    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }
    .menu-container {
        display: flex;
    }
    .menu-container ul {
        list-style: none;
        display: flex;
    }
    .menu-container ul li a {
        text-decoration: none;
        color: #64FFDA;
    }
/* END HEADER SECTION */


/* HOME */
    .home-cont {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-left: 5em;
    }
    .home-cont h1 {
        color: #64FFDA;
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
    }
    .home-cont h2 {
        color: #e5e5e5;
        font-size: 5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont h3 {
        color: #8892b0;
        font-size: 3.5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont p {
        color: #CCD6F6;
        width: 80%;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 1.5em;
    }
    .home-btn {
        background-color: #0A192F;
        border-color: #64FFDA;
        width: 20%;
        padding: 1em;
        border-radius: 5%;
        font-size: 1rem;
        font-weight: 500;
    }
    .home-btn a {
        color: #64FFDA;
    }
/* END HOME */


/* PAGINATION AREA */
    .ancre-title {
        color: #CCD6F6;
        font-size: 1.8rem;
        font-weight: 700;
    }
    .heading-pagination {
        color: #64FFDA;
    }
/* END PAGINATION AREA */


/* ABOUT ME */
    .aboutme-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutme-cont figure {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        padding-left: 5em;
    }
    .aboutme-fig {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .aboutme-fig img {
        width: 100%;
        max-width: 300px;
    }
    .aboutme-txt {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .aboutme-txt p {
        color: #8892B0;
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 1.5em;
    }
    .aboutme-status {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #112240;
        margin-left: 0;
        width: 100%;
        height: 200px;
        gap: 1em;
    }
    .aboutme-status p {
        color: #64ffda;
        font-size: 1.5rem;
        font-weight: 100;
    }
/* END ABOUT ME */


/* EXPERIENCE */
    .exp-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid #64ffda;
        border-radius: 4px;
        width: 90%;
        height: 600px;
        margin-left: 5em;
    }
    .exp-type {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #64ffda;
        width: 100%;
        height: 50px;
    }
    .exp-btn-type {
        border: none;
        width: 50%;
        background-color: #0A192F;
        color: #8892B0;
        padding: 1em;
        font-size: 1rem;
    }
    .exp-btn-type:hover {
        background-color: #233554;
        color: #64FFDA;
        padding: 1em;
    }
    .exp-choice {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #64ffda;
        width: 20%;
        max-width: 200px;
        height: 500px;
    }
    .exp-btn {
        width: 100%;
        background-color: #0A192F;
        color: #8892B0;
        padding: 1em;
        border: 1px #0A192F;
        font-size: 1rem;
    }
    .exp-btn:hover {
        background-color: #233554;
        color: #64FFDA;
        z-index: 2;
        padding: 1em;
        background-color: #233554;
        z-index: 2;
    }
    .exp-txt {
        display: flex;
        width: 70%;
        max-width: 824px;
        height: 500px;
    }
    .exp-box {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 500px;
        padding: 1em;
    }
    .box-head {

    }
    .box-body {

    }
    .box-footer {

    }
    .reseaux-work a{
        color: #64FFDA;
    }
    .exp-box p {
        color: #CCD6F6;
    }
    .exp-box ul {
        color: #CCD6F6;
        display: flex;
        flex-direction: column;
    }

    .exp-box ul li {
        color: #64FFDA;
        list-style-type: disclosure-closed;
        margin-left: 5em;
}
/* END EXPERIENCE */


/* WORK */
    .work-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5em;
        gap: 5em;
    }
    .work-fig-t1 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .work-fig-t2 {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .work-img {
        display: flex;
        align-items: center;
        width: 50%;
    }
    .work-img img {
        width: 100%;
        height: 450px;
        max-width: 500px;
    }
    .work-des {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        width: 50%;
    }
    .work-fig-t2 .work-des {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        z-index: 1;
    }
    .wd-txt {
        background-color: #112240; /* Couleur de fond semi-transparente */
    }

    .wd-list-skill {
        display: flex;
        flex-direction: row;
    }
    .wd-icon-social i {
        color: #8892B0;
    }
    .wd-icon-social i:hover {
        color: #64FFDA;
    }
    .wd-txt {
        padding: 1em;
        width: calc(100% - 20px); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
    }
    
    .wd-txt p {
        font-size: 1rem;
        font-weight: 100;
    
    }
    .work-des .wd-txt {
        width: 120%;
    }
    .wd-list-skill {
        gap: 1em;
    }
    .wd-icon-social {
        font-size: 1.4rem;
    }
/* END WORK */

/* OTHER */
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .h2-other{
        text-align: center;
    }
    .project-files {
        background-color: #112240;
        display: flex;
        flex-direction: column;
    }
    .icon-project {
        display: flex;
        justify-content: space-between;
        background-color: #233554;
        align-items: center;
    }
    .project-top{
        color: #64ffda;
    }
    .project-link i {
        cursor: pointer;
        color: #e6e6e6;
        text-decoration: none;
    }
    .project-link i:hover {
        cursor: pointer;
        color: #64ffda;
    }
    .other-form-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .other-form-text p {
        color: #A8B2D1;
        text-align: center;
    }
    .other-form-text h3 {
        color: #CCD6F6;
    }
    .other-form-text ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .other-form-text li {
        list-style: none;
        color: #8892B0;
    }
/* END OTHER */

/* CONTACT */
    .form-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #112240;
    }
    .form-infos-pro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .form-infos-txt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-icon-social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form-icon-social i {
        color: #8892b0;
    }

    .form-ask {
        display: flex;
        flex-direction: column;
    }
    .form-ask div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    label {
        display: block;
        font-weight: bold;
    }
    .check-answer {
        display: flex;
        flex-direction: column;
    }
    .privacy-data {
        display: flex;
        align-items: center;
        margin: auto;
    }
    .form-box-btn {
        display: flex;
        align-items: center;
    }
    .contact-btn {
        color: #233554;
    }
    button[type="submit"] {
        display: flex;
        background-color: #112240;
        color: #64FFDA;
        cursor: pointer;
        margin: auto;
    }

    button[type="submit"]:hover {
        background-color: #64FFDA;
    }
/* END CONTACT */

/* FOOTER */
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    footer div p  {
        color: #8892B0;
    }
/* END FOOTER */


/* RESPONSIVE AREA */

/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */
@media only screen and (min-width: 1024px) {
/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */
main {
    margin-top: 10em;
    gap: 5em;
}
section {
    min-width: 1024px;
    width: 60%;
    margin: auto;
    gap: 2em;
}
/* HEADER */
header {
    width: 100%;
    height: 80px;
    z-index: 1;
    margin-bottom: 50px;
}
.logo {
    margin: 0 15px;
}
.logo img {
    width: 100%;
    max-width: 250px;
}
.menu-button-container {
    height: 100%;
    width: 30px;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    margin-top: -8px;
}
.menu-button::after {
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
.menu-container ul {
    margin: 0;
    padding: 0;
}
.menu-container ul li {
    margin-left: 20px;
}
.menu-container ul li:first-child {
    margin-left: 0;
}
/* FIN HEADER */


/* OTHER */
.project-files {
    width: 30%;
    min-height: 400px;
    margin: 1em;
}
.icon-project {
    height: 20%;
}
.project-top{
    font-size: 2.5rem;
    padding: 0.3em;
}
.project-link{
    font-size: 1.5rem;
    padding: 0.3em;
}
.other-form-text {
    width: 100%;
    height: 80%;
}
.other-form-text p {
    font-size: 0.8rem;
    margin: 1em 1em auto;
    width: 80%;
}
.other-form-text h3 {
    font-size: 1.2rem;
    margin: 1em;
    width: 80%;
}

.other-form-text li {
    font-size: 0.8rem;
    padding: 0.3em;
}
/* END OTHER */

/* CONTACT */
.form-cont {
    border-radius: 3%;
    width: 100%;
    max-width: 800px;
    gap: 1em;
}
.form-ask {
    width: 100%;
    padding: 1em;
    margin: 1em;
    gap: 2em;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 70%;
    max-width: 450px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 70%;
    max-width: 450px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-infos-pro {
    width: 100%;
    padding: 1em;
    margin: auto;
    gap: 2em;
}
.form-infos-txt {
    gap: 1em;
}
.form-infos-txt p {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.form-icon-social {
    gap: 1em;
}
.form-icon-social i {
    font-size: 1.4rem;
}
.check-answer {
    gap: 2em;
}
.privacy-data {
    width: 80%;
    gap: 2em;
}
.form-box-btn {
    width: 100%;
}
input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    padding: 1.2em;
    border: 1px solid #64FFDA;
    border-radius: 4px;
}

button[type="submit"]:hover {
    border: 1px solid #112240;
}
/* END CONTACT */

/* FOOTER */
footer {
    margin-top: 150px;
    height: 150px;
}
footer p  {
    font-size: 1rem;
}
.icone_social_footer {
    width: 250px;
}
.icone_social_footer i {
    width: 50px;
    padding: 10px;
    font-size: 1.8em;
}
/* END FOOTER */
}

/* Ajoutez vos styles CSS pour les tablettes en mode portrait ici */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
/* Ajoutez vos styles CSS pour les tablettes en mode portrait ici */
main {
    margin-top: 5em;
    gap: 3em;
}
section {
    width: 80%;
    margin: auto;
    gap: 2em;
}
/* HEADER */
header {
width: 100%;
height: 80px;
z-index: 1;
margin-bottom: 50px;
}
.logo {
margin: 0 15px;
}
.logo img {
width: 100%;
max-width: 250px;
}
.menu-button-container {
height: 100%;
width: 30px;
}
.menu-button,
.menu-button::before,
.menu-button::after {
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}
.menu-button::before {
margin-top: -8px;
}
.menu-button::after {
margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}
.menu-container ul {
margin: 0;
padding: 0;
}
.menu-container ul li {
margin-left: 20px;
}
.menu-container ul li:first-child {
margin-left: 0;
}
/* FIN HEADER */

/* HOME */
.home-cont {
    gap: 1em;
}
.home-cont h1 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
}
.home-cont h2 {
    font-size: 4.5rem;
    font-weight: 600;
    margin: 0;
}
.home-cont h3 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.home-cont p {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5em;
}
.home-btn {
    width: 20%;
    padding: 1em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}
/* END HOME */

/* PAGINATION AREA */
.ancre-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
/* END PAGINATION AREA */

/* ABOUT ME */
.aboutme-cont {
    flex-direction: column-reverse;
    align-items: center;
}
.aboutme-txt {
    padding: 1em;
}
.aboutme-txt p{
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5em;
}
.aboutme-skill ul {
    width: 50%;
    padding: 0;
    z-index: -1;
}
.aboutme-skill ul li {
    width: 100%;
    font-size: 0.8rem;
    max-width: 170px;
}
.aboutme-skill ul li a {
    font-size: 1.2rem;
    font-weight: 100;
    padding: 1em;
}
.aboutme-picture img{
    width: 100%;
    max-width: 300px;
}
/* END ABOUT ME */

/* EXPERIENCE */
.exp-cont {
    flex-direction: column;
}
.exp-choice {
    flex-direction: row;
}

.exp-button {
    padding: 1em;
    border: 1px #0A192F;
    font-size: 1rem;
}
.exp-button:hover {
    padding: 1em;
    background-color: #233554;
    z-index: 2;
}
.exp-txt {
    justify-content: center;
}
.exp-box {
    width: 80%;
    margin: 0px;
    padding: 1em;
}
.exp-box ul {
    font-size: 1.2rem;
}
.exp-box ul li {
    padding: 1em;
}

/* END EXPERIENCE */

/* WORK */
.work-cont {
    gap: 5em;
}
.work-fig-t1, .work-fig-t2 {
    width: 100%;
}
#work-pict1 {
    background-image: url(/public/images/TOD.png);
    height: 400px;
    max-width: 100%;
}
#work-pict2 {
    background-image: url(/public/images/ireki.png);
    height: 400px;
    max-width: 100%;

}
#work-pict3 {
    background-image: url(/public/images/apivelo.png);
    height: 400px;
    max-width: 100%;
}
.work-img {
display: none;
}
.work-des {
    width: 100%;
    gap: 2em;
}
.wd-tilte h3 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}
.wd-txt {
    padding: 10px;
    width: 80%;
}
.wd-txt p {
    font-size: 1rem;
    font-weight: 100;
}
.wd-list-skill {
    gap: 1em;
}
.wd-icon-social {
    font-size: 1.4rem;
}
/* END WORK */


/* PORTFOLIO */
.project-files {
    width: 40%;
    min-height: 400px;
    margin: 1em;
}
.icon-project {
    height: 20%;
}
.project-top{
    font-size: 2.5rem;
    padding: 0.3em;
}
.project-link{
    font-size: 1.5rem;
    padding: 0.3em;
}
.other-form-text {
    width: 100%;
    height: 80%;
}
.other-form-text p {
    font-size: 1rem;
    margin: 1em 1em auto;
}
.other-form-text h3 {
    font-size: 1.2rem;
    margin: 1em;
}

.other-form-text li {
    font-size: 0.8rem;
    padding: 0.3em;
}
/* END PORTFOLIO */

/* CONTACT */
.form-cont {
    border-radius: 2%;
    width: 100%;
    max-width: 650px;
    gap: 1em;
}
.form-ask {
    width: 100%;
    padding: 1em;
    margin: 1em;
    gap: 2em;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    max-width: 350px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5%;
}

textarea {
    width: 100%;
    max-width: 350px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5%;
}
.form-infos-pro {
    width: 100%;
    padding: 1em;
    margin: 1em;
    gap: 2em;
}
.form-infos-txt {
    gap: 1em;
}
.form-infos-txt p {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.form-icon-social {
    gap: 1em;
}
.form-icon-social i {
    font-size: 1.4rem;
}
.check-answer {
    gap: 2em;
}
.privacy-data {
    width: 80%;
}
.form-box-btn {
    width: 100%;
}
input[type="checkbox"] {
    margin-right: 5px;
}
button[type="submit"] {
    padding: 1.2em;
    border: 1px solid #64FFDA;
    border-radius: 5%;
}
button[type="submit"]:hover {
    border: 1px solid #112240;
}
/* END CONTACT */

}


/* Ajoutez vos styles CSS pour les tablettes en mode paysage ici */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
/* Ajoutez vos styles CSS pour les tablettes en mode paysage ici */
main {
    margin-top: 5em;
    gap: 3em;
}
section {
    width: 80%;
    margin: auto;
    gap: 2em;
}
/* HEADER */
header {
    width: 100%;
    height: 80px;
    z-index: 1;
    margin-bottom: 50px;
}
.logo {
    margin: 0 15px;
}
.logo img {
    width: 100%;
    max-width: 250px;
}
.menu-button-container {
    height: 100%;
    width: 30px;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    margin-top: -8px;
}
.menu-button::after {
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
.menu-container ul {
    margin: 0;
    padding: 0;
}
.menu-container ul li {
    margin-left: 20px;
}
.menu-container ul li:first-child {
    margin-left: 0;
}
/* FIN HEADER */


/* HOME */
.home-cont {
    width: 80%;
    margin: auto;
    gap: 1em;
}
.home-cont h1 {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0;
}
.home-cont h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}
.home-cont h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}
.home-cont p {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5em;
}
.home-btn {
    width: 20%;
    padding: 1em;
    border-radius: 5%;
    font-size: 1rem;
    font-weight: 500;
}
/* END HOME */

/* PAGINATION AREA */
.ancre-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
}
/* END PAGINATION AREA */

/* ABOUT ME */
.aboutme-cont {
    flex-direction: column-reverse;
    align-items: center;
}
.aboutme-txt {
    width: 80%;
    padding: 1em;
}
.aboutme-txt p{
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5em;
    margin-top: 2em;
}
.aboutme-skill ul {
    width: 50%;
    padding: 0;
    z-index: -1;
}
.aboutme-skill ul li {
    width: 100%;
    font-size: 0.8rem;
    max-width: 170px;
}
.aboutme-skill ul li a {
    font-size: 1.2rem;
    font-weight: 100;
    padding: 5px;
}
.aboutme-picture img{
    width: 100%;
    max-width: 300px;
}
/* END ABOUT ME */

/* EXPERIENCE */
.exp-cont {
    width: 80%;
    padding: 2em;
}
.exp-choice {
    width: 100%;
}

.exp-button {
    padding: 1em;
    border: 1px #0A192F;
    font-size: 1rem;
}
.exp-button:hover {
    padding: 1em;
    background-color: #233554;
    z-index: 2;
}
.exp-txt {
    width: 100%;
}
.exp-box {
    width: 100%;
    height: 450px;
    padding: 1em;
    border: 1px solid #64FFDA;
    border-radius: 10px;

}
.exp-box ul li {
    margin-left: 5em;
}
/* END EXPERIENCE */

/* WORK */
.work-cont {
    gap: 5em;
}
.work-fig-t1, .work-fig-t2 {
    width: 100%;
}
.work-img {
    width: 50%;
}
.work-img img {
    height: 400px;
    max-width: 100%;
}
.work-des {
    width: 50%;
}

.wd-tilte h3 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

.wd-txt {
    padding: 10px;
    width: calc(100% - 20px); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
}

.wd-txt p {
    font-size: 1rem;
    font-weight: 100;

}
.work-des .wd-txt {
    width: 120%;
}
.wd-list-skill {
    gap: 1em;
}
.wd-icon-social {
    font-size: 1.4rem;
}
/* END WORK */


/* OTHER */
.project-files {
    width: 30%;
    min-height: 400px;
    margin: 1em;
}
.icon-project {
    height: 20%;
}
.project-top{
    font-size: 2.5em;
    padding: 0.3em;
}
.project-link{
    font-size: 1.5em;
    padding: 0.3em;
}
.other-form-text {
    width: 100%;
    height: 80%;
}
.other-form-text p {
    font-size: 0.8em;
    margin: 1em 1em auto;
    width: 80%;
}
.other-form-text h3 {
    font-size: 1.2em;
    margin: 1em;
    width: 80%;
}

.other-form-text li {
    font-size: 0.8em;
    padding: 0.3em;
}
/* END OTHER */

/* CONTACT */
.form-cont {
    border-radius: 2%;
    width: 100%;
    max-width: 500px;
    gap: 1em;
}
.form-ask {
    width: 100%;
    padding: 1em;
    margin: 1em;
    gap: 2em;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 70%;
    max-width: 500px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3%;
}

textarea {
    width: 70%;
    max-width: 500px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5%;
}
.form-infos-pro {
    width: 100%;
    gap: 2em;
}
.form-infos-txt {
    gap: 1em;
}
.form-infos-txt p {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.form-icon-social {
    align-items: center;
    margin: auto;
    gap: 1em;
}
.form-icon-social i {
    font-size: 1.4rem;
}
.check-answer {
    margin: auto;
    gap: 2em;
}
.privacy-data {
    width: 80%;
}
.form-box-btn {
    width: 100%;
}
input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    padding: 1.2em;
    border: 1px solid #64FFDA;
    border-radius: 5%;
}

button[type="submit"]:hover {
    border: 1px solid #112240;
}
/* END CONTACT */

}


/* Ajoutez vos styles CSS pour les téléphones mobiles ici */
@media only screen and (max-width: 767px) {
/* Ajoutez vos styles CSS pour les téléphones mobiles ici */
main {
    margin-top: 5em;
    gap: 3em;
}
section {
    width: 100%;
    margin: auto;
    gap: 2em;
}
/* HEADER */
header {
    width: 100%;
    padding: 1em;
}
.logo {
    height: 80px;
    align-items: center;
    display: flex;
}
.logo img {
    width: 100%;
    max-width: 200px;
}
.menu-toggle {
    display: flex;
}

.menu-container {
    display: none;
    position: absolute;
    top: 80px; /* Modifier la valeur pour correspondre à la hauteur de votre header */
    left: 0;
    background-color: #112240;
    width: 100%;
    padding: 1em;
}

.menu-container.active {
    display: flex;
}
.menu-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.menu-container ul li {
    margin: 10px 0;
}

.menu-button-container {
    display: flex;
    margin: 0;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #c6c6c6;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* FIN HEADER */

/* HOME */
.home-cont {
    width:  90%;
    margin: auto;
    gap: 1em;
}
.home-cont h1 {
    font-size: 1rem;
    font-weight: 100;
    margin: 0;
}
.home-cont h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}
.home-cont h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
.home-cont p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5em;
}
.home-btn {
    width: 20%;
    padding: 1em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}
/* END HOME */

/* PAGINATION AREA */
.ancre-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1em;
}
/* END PAGINATION AREA */

/* ABOUT ME */
.aboutme-cont {
    flex-direction: column-reverse;
    align-items: center;
    width:  90%;
    margin: auto;
}
.aboutme-txt {
    width: 100%;
    padding: 1em;
}
.aboutme-txt p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5em;
}
.aboutme-skill ul {
    width: 50%;
    padding: 0;
    z-index: -1;
}
.aboutme-skill ul li {
    width: 100%;
    font-size: 1rem;
    max-width: 170px;
}
.aboutme-skill ul li a {
    font-size: 1rem;
    font-weight: 100;
    padding: 1em;
}
.aboutme-picture img{
    display: none;
}
/* END ABOUT ME */

/* EXPERIENCE */
.exp-cont {
flex-direction: column;
width:  90%;
margin: auto;
}
.exp-choice {
flex-direction: row;
}

.exp-button {
padding: 1em;
border: 1px #0A192F;
font-size: 1rem;
}
.exp-button:hover {
padding: 1em;
background-color: #233554;
z-index: 2;
}
.exp-txt {
justify-content: center;
}
.exp-box {
width: 100%;
margin: 0px;
padding: 1em;
}
.exp-box ul {
font-size: 1.2rem;
}
.exp-box ul li {
padding: 1em;
}

/* END EXPERIENCE */

/* WORK */
.work-cont {
width:  90%;
margin: auto;
gap: 5em;
}
.work-fig-t1, .work-fig-t2 {
width: 100%;
}
#work-pict1 {
background-image: url(img/ireki.png);
height: 400px;
max-width: 100%;
}
#work-pict2 {
background-image: url(img/ireki.png);
height: 400px;
max-width: 100%;

}
#work-pict3 {
background-image: url(img/ireki.png);
height: 400px;
max-width: 100%;
}
.work-img {
display: none;
}
.work-des {
width: 100%;
gap: 2em;
}
.wd-tilte h3 {
font-size: 3rem;
font-weight: 500;
margin: 0;
}
.wd-txt {
padding: 10px;
width: 80%;
}
.wd-txt p {
font-size: 1rem;
font-weight: 100;
}
.wd-list-skill {
gap: 1em;
}
.wd-icon-social {
font-size: 1.4rem;
}
/* END WORK */


/* PORTFOLIO */
.portfolio-container{
width:  90%;
margin: auto;
gap: 1em;
}
.project-files {
width: 40%;
min-height: 400px;
margin: 1em;
}
.icon-project {
height: 20%;
}
.project-top{
font-size: 2.5rem;
padding: 0.3em;
}
.project-link{
font-size: 1.5rem;
padding: 0.3em;
}
.other-form-text {
width: 100%;
height: 80%;
}
.other-form-text p {
font-size: 1rem;
margin: 1em 1em auto;
}
.other-form-text h3 {
font-size: 1.2rem;
margin: 1em;
}

.other-form-text li {
font-size: 0.8rem;
padding: 0.3em;
}
/* END PORTFOLIO */

/* CONTACT */
.form-cont {
border-radius: 2%;
width: 100%;
max-width: 500px;
gap: 1em;
}
.form-ask {
width: 100%;
padding: 1em;
margin: 1em;
gap: 2em;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
width: 100%;
max-width: 350px;
padding: 1em;
border: 1px solid #ccc;
border-radius: 5%;
}

textarea {
width: 100%;
max-width: 350px;
padding: 1em;
border: 1px solid #ccc;
border-radius: 5%;
}
.form-infos-pro {
width: 100%;
padding: 1em;
margin: 1em;
gap: 2em;
}
.form-infos-txt {
gap: 1em;
}
.form-infos-txt p {
font-size: 1rem;
font-weight: 100;
margin: 0;
padding: 0;
}
.form-icon-social {
gap: 1em;
}
.form-icon-social i {
font-size: 1.4rem;
}
.check-answer {
gap: 2em;
}
.privacy-data {
width: 80%;
}
.form-box-btn {
width: 100%;
}
input[type="checkbox"] {
margin-right: 5px;
}
button[type="submit"] {
padding: 1.2em;
border: 1px solid #64FFDA;
border-radius: 5%;
}
button[type="submit"]:hover {
border: 1px solid #112240;
}
/* END CONTACT */

}
