/* PAGE CSS */

/* OPTION GENERAL */

    /*
        src: url('font/inter-Black.ttf') format('truetype');
        src: url('font/inter-Bold.ttf') format('truetype');
        src: url('font/inter-ExtraBold.ttf') format('truetype');
        src: url('font/inter-ExtraLight.ttf') format('truetype');
        src: url('font/inter-Light.ttf') format('truetype');
        src: url('font/inter-Medium.ttf') format('truetype');
        src: url('font/inter-SemiBold.ttf') format('truetype');
        src: url('font/inter-Thin.ttf') format('truetype');
        src: url('font/inter-VariableFont_slnt,wght.ttf') format('truetype');
    */

/* Déclaration de la police Inter Black */
    @font-face {
        font-family: 'Inter-Regular';
        src: url('font/inter-Regular.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }

    /* Déclaration de la police Inter Bold */
    @font-face {
        font-family: 'Inter-Bold';
        src: url('font/inter-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    /* Déclaration de la police Inter ExtraBold */
    @font-face {
        font-family: 'Inter-AllType';
        src: url('font/inter-VariableFont_slnt,wght.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #0A192F;
        margin: 0;
        font-family: 'Inter AllType', sans-serif;
        color: #CCD6F6;
    }

    /* SCROLL BAR WEBSITE AREA*/
        body::-webkit-scrollbar {
            width: 12px; /* width of the entire scrollbar */
        }
        body::-webkit-scrollbar-track {
            background: #161616; /* color of the tracking area */
        }
        body::-webkit-scrollbar-thumb {
            background-color: #64FFDA; /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            border: 3px solid #161616; /* creates padding around scroll thumb */
        }

    /* END SCROLL BAR WEBSITE AREA*/

    main {
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        margin: 0;
    }
    h1, h2, h3 {
        margin: 0;
    }
    p {
        font-size: 1rem;
        font-family: 'Inter';
        font-weight: 100;
        line-height: 1.5rem;
        margin: 0;
        padding: 1rem;
    }
    section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .ancre-title {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .ancre-title h2 {
        color: #CCD6F6;
    }
    .heading-pagination {
        color: #64FFDA;
    }

/* END OPTION GENERAL AREA */


/* HOME AREA */
    .home-cont  {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .home-cont h1 {
        color: #64FFDA;
        margin: 0;
        font-weight: 100;
    }
    .home-cont h2 {
        color: #e5e5e5;
        margin: 0;
        font-weight: 600;
    }
    .home-cont h3 {
        color: #8892b0;
        margin: 0;
        font-weight: 600;
    }
    .home-cont p {
        color: #CCD6F6;
        margin: 0;
        font-weight: 100;
    }
    .btn-home {
        cursor: pointer;
        background-color: #0A192F;
        color: #CCD6F6;
        border: 2px solid #8892B0;
        border-radius: 6px;
    }
    .btn-home:hover {
        background-color: #112240;
        color: #64ffda;
        border-color: #64ffda;
    }
/* END HOME AREA */


/* ABOUT ME AREA */
    .aboutme-cont {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .aboutme-txt {
        display: flex;
        flex-direction: column;
    }
    .aboutme-txt p {
        font-weight: 100;
        margin: 0;
    }
    .aboutme-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutme-btn a {
        padding: 0;
    }
    .redirect-btn {
        cursor: pointer;
        background-color: #0A192F;
        color: #CCD6F6;
        border: 2px solid #8892B0;
        border-radius: 6px;
    }

    .redirect-btn:hover {
        background-color: #233554;
        color: #64ffda;
        border-color: #64ffda;
    }
/* END ABOUT ME AREA */


/* EXPERIENCE AREA */
    .exp-cont {
        display: flex;
        margin: 0 auto;
        width: calc(60% + 0vw);
    }
    .exp-table{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .table-head {
        display: flex;
        flex-direction: row;
    }
    .th-cln-bld {
        display: flex;
        width: 25%;
    }
    .th-btn-select{
        display: flex;
        flex-direction: row;
        border: 1px solid #8892B0;
        width: 75%;
    }
    .t-h-btn {
        border: none;
        background-color: #0A192F;
        color: #8892B0;
        width: 50%;
        padding: 1rem;
    }
    .t-h-btn:hover {
        background-color: #233554;
        color: #64FFDA;
    }
    .table-body {
        display: flex;
        flex-direction: row;
        min-height: 400px;
    }
    .tb-btn-select {
        display: flex;
        flex-direction: column;
        border: 1px solid #8892B0;
        width: 25%;
    }
    .tb-txt-select {
        display: flex;
        width: 75%;
    }
    .t-b-btn {
        display: flex;
        background-color: #0A192F;
        color: #8892B0;
        border: 1px #0A192F;
        width: 100%;
        padding: 1rem;
    }
    .t-b-btn:hover {
        color: #64FFDA;
        background-color: #233554;
    }
    .exp-box {
        display: none;
        flex-direction: column;
    }

    .box-head {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .box-head-t, .box-head-d {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .box-head-t a {
        color: #64FFDA;
        padding: 1rem;
    }
    .box-head-t h3 {
        font-size: 1rem;
        padding: 1rem;
    }
    .box-body {
        display: flex;
        gap: 1rem;
    }
    .box-body-t {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        gap: 1rem;
    }

    .box-body-t ul li{
        list-style-type: disclosure-closed;
        color: #64ffda;
    }
    .box-body-t ul li p {
        list-style-type: disclosure-closed;
        color: #CCD6F6;
        margin: 0;
        padding: 0;
    }
    .box-body-t p {
        color: #CCD6F6;
    }
/* END EXPERIENCE AREA */


/* WORK AREA */
    .work-cont {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        display: flex;
        flex-direction: row;
    }
    .work-img {
        display: flex;
        align-items: center;
        height: auto;
        overflow: hidden;
    }
    .work-img img {
        object-fit: cover;
        object-position: center;
    }
    .work-des {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }
    .wd-head {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .wd-head-icon {
        display: flex;
    }
    .wd-head-icon i {
        color: #8892B0;
    }
    .wd-head-icon i:hover {
        color: #64FFDA;
    }
    .wd-head-t {
        display: flex;
    }
    .wd-body {
        background-color: #112240; /* Couleur de fond semi-transparente */
    }
    .wd-footer {
        display: flex;
        flex-direction: row;
    }
    .work-fig-t2 {
        display: flex;
        flex-direction: row-reverse;
    }
    .work-fig-t2 .work-des {
        align-items: flex-start;
        z-index: 0;
    }
    .work-fig-t2 .work-des .wd-head {
        align-items: flex-start;
    }
/* END WORK AREA */


/* PROJECT AREA */
    .project-cont {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .project-file {
        display: flex;
        flex-direction: column;
        background-color: #112240;
    }
    .project-head {
        display: flex;
        flex-direction: row;
        background-color: #233554;
        align-items: center;
    }
    .project-h-t{
        display: flex;
    }
    .project-h-l {
        display: flex;
        align-items: center;
    }
    .project-h-l a {
        cursor: pointer;
        color: #e6e6e6;
        text-decoration: none;
    }
    .project-h-l a:hover {
        color: #64ffda;
    }
    .project-body {
        display: flex;
        flex-direction: column;
    }
    .project-b-h {
        display: flex;
        flex-direction: column;
    }
    .project-b-b {
        display: flex;
    }
    .project-b-b p {
        color: #A8B2D1;
    }
    .project-b-f {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-b-f p {
        color: #8892B0;
        padding: 0;
    }
/* END PROJECT AREA */


/* CONTACT AREA */

    .form-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .formulaire {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: #112240;
        border: 1px solid #8892B0;
        border-radius: 16px;
    }
    .form-ask {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .form-ask div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-ask div p {
        display: flex;
    }
    label {
        display: flex;
        font-weight: bold;
    }
    .form-infos-pro {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }
    .form-infos-txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-icon-social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .form-icon-social i {
        color: #8892b0;
    }
    .check-answer {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .privacy-data {
        display: flex;
        align-items: center;
    }
    .form-box-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-btn {
        color: #233554;
    }
    button[type="submit"] {
        display: flex;
        background-color: #112240;
        color: #64FFDA;
        cursor: pointer;
    }
    button[type="submit"]:hover {
        background-color: #64FFDA;
    }
/* END CONTACT AREA */


/* FOOTER RESPON AREA */
    .footer-respon{
        display: none;
    }
/* END FOOTER RESPON AREA */


/* FOOTER AREA */
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #112240;
    }
    footer p  {
        color: #8892B0;
    }

/* END FOOTER AREA */

/* WARNING RESPONSIVE AREA */


/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */
@media only screen and (min-width: 1024px) {
/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */
    main {
        margin-top: 10rem;
    }
    section {
        width: calc(100% + 0vw);
    }
    .ancre-title {
        width: calc(70% + 0vw);
        gap: 2em;
    }
    .ancre-title h2 {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
/* HOME */
    .home-cont {
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .home-cont h1 {
        font-size: 1.5rem;
    }
    .home-cont h2 {
        font-size: 5rem;
    }
    .home-cont h3 {
        font-size: 3.5rem;
    }
    .home-cont p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .btn-home {
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
/* END HOME */


/* ABOUT ME */
    .aboutme-cont {
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .aboutme-txt { 
        width: calc(80% - 0vw);
        gap: 1rem;
    }
    .aboutme-txt p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .aboutme-btn { 
        width: calc(30% - 0vw);
        gap: 1rem;
    }
    .redirect-btn {
        width: 150px;
        padding: 1rem;
    }
/* END ABOUT ME */





/* WORK */
    .work-cont {
        width: calc(60% + 0vw);
        gap: 5rem;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        width: calc(80% + 0vw);
    }
    .work-img {
        width: calc(60vw - 0vw);
    }
    .work-img img {
        width: 100%;
        height: 100%;
    }
    .work-des {
        width: calc(40vw - 0vw);
    }
    .wd-head {
        margin-bottom: 10px;
    }
    .wd-head-t h3 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .wd-head-icon {
        gap: 1em;
        padding-left: 1em;
    }
    .wd-head-icon i {
        font-size: 1.4rem;
    }
    .wd-body {
        width: calc(100% - -150px); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
    }
    .wd-body p {
        font-size: 1rem;
    }
    .wd-footer {
        gap: 1em;
    }
    .wd-footer span {
        font-size: 1.2rem;
    }
/* END WORK */


/* PROJECT */
    .project-cont {
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .box-files{
        gap: 1em;
    }
    .project-file {
        flex-grow: 1;
        flex-basis: calc(33.33% - 1em);
        min-width: 280px;
        max-width: 350px;
    }
    .project-head {
        width: 100%;
        height: 60px;
    }
    .project-h-t{
        width: 70%;
    }
    .project-h-t h3{
        font-size: 1.2rem;
    }
    .project-h-l {
        width: 30%;
    }
    .project-h-l a {
        font-size: 1.5rem;
    }
    .project-body {
        width: 100%;
        min-height: 300px;
    }
    .project-b-h {
        width: 100%;
    }
    .project-b-h p {
        font-size: 1rem;
    }
    .project-b-b {
        width: 100%;
    }
    .project-b-b p {
        font-size: 1rem;
    }
    .project-b-f {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1em;
    }
    .project-b-f p {
        font-size: 0.8rem;
    }
/* END PROJECT */


/* CONTACT */
    .form-cont {
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .formulaire {
        width: calc(80% + 10vw);
        gap: 2em;
    }
    .form-ask {
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-ask p {
        font-size: 1.2rem;
    }
    .form-ask div {
        width: 100%;
        gap: 1em;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"], 
    textarea {
        padding: 1em;
        margin: auto;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label {
        font-size: 1.2rem;
    }
    .form-infos-pro {
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-infos-txt{
        width: 45%;
        gap: 1em;
    }
    .form-infos-txt p {
        font-size: 1rem;
    }
    .form-icon-social {
        width: 45%;
        margin: 0;
        gap: 1em;
    }
    .form-icon-social i {
        font-size: 1.4rem;
    }
    .check-answer {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .privacy-data {
        width: 100%;
        gap: 2em;
    }
    .form-box-btn {
        padding: 1em;        
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
    button[type="submit"] {
        margin: auto;
        padding: 1.2em;
        border: 1px solid #64FFDA;
        border-radius: 4px;
    }
    button[type="submit"]:hover {
        border: 1px solid #112240;
    }
/* END CONTACT */


/* FOOTER */
    footer {
        margin: 0 auto;
        width: calc(100% + 0vw);
        gap: 1rem;
        border-top: 1px solid #64ffda;
        margin-top: 150px;
        height: 150px;
    }
    footer p  {
        font-size: 1rem;
    }
    .icone_social_footer {
        width: 250px;
    }
    .icone_social_footer i {
        width: 50px;
        padding: 10px;
        font-size: 1.8em;
    }
/* END FOOTER */
}
