/* PAGE CSS */

/* OPTION GENERAL */

    /*
        src: url('font/inter-Black.ttf') format('truetype');
        src: url('font/inter-Bold.ttf') format('truetype');
        src: url('font/inter-ExtraBold.ttf') format('truetype');
        src: url('font/inter-ExtraLight.ttf') format('truetype');
        src: url('font/inter-Light.ttf') format('truetype');
        src: url('font/inter-Medium.ttf') format('truetype');
        src: url('font/inter-SemiBold.ttf') format('truetype');
        src: url('font/inter-Thin.ttf') format('truetype');
        src: url('font/inter-VariableFont_slnt,wght.ttf') format('truetype');
    */

/* Déclaration de la police Inter Black */
    @font-face {
        font-family: 'Inter-Regular';
        src: url('font/inter-Regular.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }

    /* Déclaration de la police Inter Bold */
    @font-face {
        font-family: 'Inter-Bold';
        src: url('font/inter-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    /* Déclaration de la police Inter ExtraBold */
    @font-face {
        font-family: 'Inter-AllType';
        src: url('font/inter-VariableFont_slnt,wght.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #0A192F;
        margin: 0;
        font-family: 'Inter AllType', sans-serif;
        color: #CCD6F6;
    }

    /* SCROLL BAR WEBSITE AREA*/
        body::-webkit-scrollbar {
            width: 12px; /* width of the entire scrollbar */
        }
        body::-webkit-scrollbar-track {
            background: #161616; /* color of the tracking area */
        }
        body::-webkit-scrollbar-thumb {
            background-color: #64FFDA; /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            border: 3px solid #161616; /* creates padding around scroll thumb */
        }

    /* END SCROLL BAR WEBSITE AREA*/

    main {
        display: flex;
        flex-direction: column;
    }
    a {
        text-decoration: none;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    .ancre-title {
        display: flex;
        flex-direction: column;
    }
    .ancre-title h2 {
        color: #CCD6F6;
    }
    .heading-pagination {
        color: #64FFDA;
    }

/* END OPTION GENERAL */


/* HOME */
    .home-cont  {
        display: flex;
        flex-direction: column;
    }
    .home-cont h1 {
        color: #64FFDA;
    }
    .home-cont h2 {
        color: #e5e5e5;
    }
    .home-cont h3 {
        color: #8892b0;
    }
    .home-cont p {
        color: #CCD6F6;
    }
    .btn-home {
        cursor: pointer;
        background-color: #0A192F;
        color: #CCD6F6;
        border: 2px solid #8892B0;
        border-radius: 6px;
    }
    .btn-home:hover {
        background-color: #112240;
        color: #64ffda;
        border-color: #64ffda;
    }
/* END HOME */


/* ABOUT ME */
    .aboutme-cont {
        display: flex;
        align-items: center;
    }
    .aboutme-txt {
        display: flex;
        flex-direction: column;
    }
    .aboutme-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redirect-btn,
    .download-btn {
        cursor: pointer;
        background-color: #0A192F;
        color: #CCD6F6;
        border: 2px solid #8892B0;
        border-radius: 6px;
    }

    .redirect-btn:hover,
    .download-btn:hover {
        background-color: #233554;
        color: #64ffda;
        border-color: #64ffda;
    }
/* END ABOUT ME */


/* EXPERIENCE */
    .exp-cont {
        display: flex;
        flex-direction: column;
    }
    .exp-type {
        display: flex;
        flex-direction: row;
    }
    .exp-btn-type {
        border: none;
        background-color: #0A192F;
        border: 1px solid #8892B0;
        color: #8892B0;
    }
    .exp-btn-type:hover {
        background-color: #233554;
        color: #64FFDA;
    }
    .exp-column {
        display: flex;
        flex-direction: row;
    }
    .exp-choice {
        display: flex;
        flex-direction: column;
        border: 1px solid #8892B0;
        border-top: none;
    }
    .contenu {
        display: flex;
        flex-direction: column;
    }
    .exp-btn {
        display: flex;
        background-color: #0A192F;
        color: #8892B0;
        border: 1px #0A192F;
    }
    .exp-btn:hover {
        color: #64FFDA;
        background-color: #233554;
    }
    .exp-txt {
        display: flex;
    }
    .exp-box {
        display: none;
        flex-direction: column;
    }
    .box-head {
        display: flex;
        flex-direction: column;
    }
    .box-head-t {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .box-head-t a {
        color: #64FFDA;
    }
    .box-head-d {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .box-body {
        display: flex;
        flex-direction: column;
    }
    .box-body ul {
        display: flex;
        flex-direction: column;
        color: #64ffda;
    }
    .box-body-t ul li{
        display: flex;
        flex-direction: column;
        list-style-type: disclosure-closed;
        color: #CCD6F6;
    }
/* END EXPERIENCE */


/* WORK */
    .work-cont {
        display: flex;
        flex-direction: column;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        display: flex;
        flex-direction: row;
    }
    .work-img {
        display: flex;
        align-items: center;
    }
    .work-des {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }
    .wd-head {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .wd-head-icon {
        display: flex;
    }
    .wd-head-icon i {
        color: #8892B0;
    }
    .wd-head-icon i:hover {
        color: #64FFDA;
    }
    .wd-head-t {
        display: flex;
    }
    .wd-body {
        background-color: #112240; /* Couleur de fond semi-transparente */
    }
    .wd-footer {
        display: flex;
        flex-direction: row;
    }
    .work-fig-t2 {
        display: flex;
        flex-direction: row-reverse;
    }
    .work-fig-t2 .work-des {
        align-items: flex-start;
        z-index: 0;
    }
    .work-fig-t2 .work-des .wd-head {
        align-items: flex-start;
    }
/* END WORK */


/* PROJECT */
    .project-cont {
        display: flex;
        flex-wrap: wrap;
    }
    .project-file {
        display: flex;
        flex-direction: column;
        background-color: #112240;
    }
    .project-head {
        display: flex;
        flex-direction: row;
        background-color: #233554;
        align-items: center;
    }
    .project-h-t{
        display: flex;
    }
    .project-h-l {
        display: flex;
        align-items: center;
    }
    .project-h-l a {
        cursor: pointer;
        color: #e6e6e6;
        text-decoration: none;
    }
    .project-h-l a:hover {
        color: #64ffda;
    }
    .project-body {
        display: flex;
        flex-direction: column;
    }
    .project-b-h {
        display: flex;
        flex-direction: column;
    }
    .project-b-b {
        display: flex;
    }
    .project-b-b p {
        color: #A8B2D1;
    }
    .project-b-f {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-b-f span {
        display: flex;
        color: #8892B0;
    }
/* END PROJECT */


/* CONTACT */

    .form-cont {
        display: flex;
    }
    .formulaire {
        display: flex;
        flex-direction: column;
        background-color: #112240;
    }
    .form-ask {
        display: flex;
        flex-direction: column;
    }
    .form-ask div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-ask div p {
        display: flex;
    }
    label {
        display: flex;
        font-weight: bold;
    }
    .form-infos-pro {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .form-infos-txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .form-icon-social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .form-icon-social i {
        color: #8892b0;
    }
    .check-answer {
        display: flex;
        flex-direction: column;
    }
    .privacy-data {
        display: flex;
        align-items: center;
    }
    .form-box-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-btn {
        color: #233554;
    }
    button[type="submit"] {
        display: flex;
        background-color: #112240;
        color: #64FFDA;
        cursor: pointer;
    }
    button[type="submit"]:hover {
        background-color: #64FFDA;
    }
/* END CONTACT */


/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #112240;
}
footer p  {
    color: #8892B0;
}

/* END FOOTER */

/* WARNING RESPONSIVE AREA */


/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */
@media only screen and (min-width: 1024px) {
/* Ajoutez vos styles CSS pour les écrans d'ordinateur ici */
    main {
        margin-top: 10rem;
    }
    section {
        margin: 0 auto;
        width: calc(100% + 0vw);
        margin-bottom: 1rem;
    }
    .ancre-title {
        margin: auto;
        width: calc(80% + 0vw);
        gap: 2em;
    }
    .ancre-title h2 {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

/* HOME */
    .home-cont {
        margin: 0 auto;
        width: calc(70% + 0vw);
        gap: 1rem;
    }
    .home-cont h1 {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
    }
    .home-cont h2 {
        font-size: 5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont h3 {
        font-size: 3.5rem;
        font-weight: 600;
        margin: 0;
    }
    .home-cont p {
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.5rem;
    }
    .btn-home {
        border: 2px solid #8892B0;
        border-radius: 6px;
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
/* END HOME */


/* ABOUT ME */
    .aboutme-cont {
        margin: 0 auto;
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .aboutme-txt:first-child { 
        width: calc(80% - 20px);
        gap: 1rem;
    }
    .aboutme-txt p {
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.5rem;
        margin: 0;
    }
    .aboutme-btn:nth-child(2) { 
        width: calc(30% - 20px);
        gap: 1rem;
    }
    .redirect-btn,
    .download-btn {
        border: 2px solid #8892B0;
        border-radius: 6px;
        width: 150px;
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }
/* END ABOUT ME */


/* EXPERIENCE */
    .exp-cont {
        margin: 0 auto;
        width: calc(60% + 0vw);
    }
    .exp-type {
        width: calc(80vw - 10vw);
    }
    .exp-btn-type {
        width: 50vw;
        padding: 1rem;
        font-size: 1rem;
    }
    .exp-column {
        width: calc(80vw - 10vw);
    }
    .exp-choice {
        width: calc(25vw - 0vw);
    }
    .exp-btn {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
    .exp-txt {
        width: calc(75vw - 0vw);
    }
    .box-head {
        gap: 1rem;
    }
    .box-head-t, .box-head-d {
        width: 100%;
    }
    .box-head-t h3 {
        font-size: 1rem;
        padding: 1rem;
    }
    .box-head-t a {
        font-size: 1rem;
        padding: 1rem;
    }
    .box-head-d p {
        font-size: 1rem;
        margin: 0;
        padding: 1rem;
    }
    .box-body {
        gap: 1rem;
    }
    .box-body-t {
        margin: auto;
        width: 90%;
        gap: 1rem;
    }
    .box-body ul {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 100;
        margin: auto;
    }
    .box-body ul li{
        padding-left: 1rem;
    }
    .box-body p {
        padding: 1rem;
    }
/* END EXPERIENCE */


/* WORK */
    .work-cont {
        margin: 0 auto;
        width: calc(60% + 0vw);
        gap: 5rem;
    }
    .work-fig-t1, 
    .work-fig-t2 {
        width: calc(80% + 20vw);
        padding: 1rem;
    }
    .work-img {
        width: 60%;
        height: auto;
        overflow: hidden;
    }
    .work-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .work-des {
        width: 40%;
    }
    .wd-head {
        width: 100%;
        gap: 1em;
    }
    .wd-head-icon {
        gap: 1em;
        padding-left: 1em;
    }
    .wd-head-icon i {
        font-size: 1.4rem;
    }
    .wd-head-t h3 {
        font-size: 1.8rem;
        font-weight: 500;
        margin: 0;
    }
    .wd-body {
        background-color: #112240; /* Couleur de fond semi-transparente */
        width: calc(100% - -150px); /* Largeur égale à 100% de la largeur parente moins 20px pour un léger débordement */
    }
    .wd-body p {
        font-size: 1rem;
        font-weight: 100;
        margin: 1rem;
    }
    .wd-footer {
        gap: 1em;
    }
    .wd-footer span {
        font-size: 1.2rem;
    }
/* END WORK */


/* PROJECT */
    .project-cont {
        margin: 0 auto;
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .box-files{
        gap: 1em;
    }
    .project-file {
        margin: 1em;
        flex-grow: 1;
        flex-basis: calc(33.33% - 1em);
        min-width: 200px;
        max-width: 300px;
    }
    .project-head {
        width: 100%;
        height: 60px;
    }
    .project-h-t{
        width: 70%;
    }
    .project-h-t h3{
        font-size: 1.2rem;
        padding: 0.3em;
    }
    .project-h-l {
        width: 30%;
    }
    .project-h-l a {
        font-size: 1.5rem;
        padding: 0.3em;
    }
    .project-b-h {
        margin: auto;
        width: 90%;
        height: 50px;
        gap: 1em;
        padding-top: 1em;
    }
    .project-b-h p {
        font-size: 1rem;
        margin: 0;
    }
    .project-b-b {
        margin: auto;
        width: 90%;
        min-height: 150px;
        padding-top: 1em;
    }
    .project-b-b p {
        font-size: 0.8rem;
    }
    .project-b-f {
        margin: auto;
        width: 90%;
        height: 50px;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 1em;
    }
    .project-b-f span {
        font-size: 0.8rem;
    }
/* END PROJECT */


/* CONTACT */
    .form-cont {
        margin: 0 auto;
        width: calc(60% + 0vw);
        gap: 1rem;
    }
    .formulaire {
        margin: auto;
        width: 60%;
        border: 1px solid #8892B0;
        border-radius: 16px;
        gap: 2em;
    }
    .form-ask {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-ask p {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin: 0;
    }
    .form-ask div {
        width: 100%;
        gap: 1em;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"], 
    textarea {
        padding: 1em;
        margin: auto;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label {
        font-size: 1.2rem;
    }
    .form-infos-pro {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .form-infos-txt{
        width: 45%;
        gap: 1em;
    }
    .form-infos-txt p {
        font-size: 1rem;
        font-weight: 100;
        margin: 0;
    }
    .form-icon-social {
        width: 45%;
        margin: 0;
        gap: 1em;
    }
    .form-icon-social i {
        font-size: 1.4rem;
    }
    .check-answer {
        margin: auto;
        width: 80%;
        margin-top: 1em;
        padding: 1em;
        gap: 2em;
    }
    .privacy-data {
        width: 100%;
        gap: 2em;
    }
    .form-box-btn {
        padding: 1em;        
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
    button[type="submit"] {
        margin: auto;
        padding: 1.2em;
        border: 1px solid #64FFDA;
        border-radius: 4px;
    }
    button[type="submit"]:hover {
        border: 1px solid #112240;
    }
/* END CONTACT */


/* FOOTER */
    footer {
        margin: 0 auto;
        width: calc(100% + 0vw);
        gap: 1rem;
        border-top: 1px solid #64ffda;
        margin-top: 150px;
        height: 150px;
    }
    footer p  {
        font-size: 1rem;
    }
    .icone_social_footer {
        width: 250px;
    }
    .icone_social_footer i {
        width: 50px;
        padding: 10px;
        font-size: 1.8em;
    }
/* END FOOTER */
}
